altair
altair-data-server
carbonplan
dask[complete]
fsspec
fastparquet
google-cloud-storage
intake
intake-geopandas
intake-xarray
netcdf4
networkx
pandas
pytest
rasterio
scikit-learn
urlpath
vega_datasets
xarray
zarr
